#  служебные файлы кроме __init__.py
.DS_Store
__*
!__init__.py

#  отдельные конкретно указанные папки или файлы
.idea/
mysite/static
.env.prod
.env.prod.db
.env.dev

#  файлы медиа
*.png
*.jpg
*.gif
*.tif
*.rtf
*.doc
*.doco
*.xls
*.xlsx
